.row {
  display: flex;
  flex-wrap: wrap;
}

.inline {
  display: inline;
}

.col-full {
  flex-basis: 100%;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.col-half {
  flex-basis: 50%;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .col-half {
    flex-basis: 100%;
    text-align: center;
  }
}
